<section>
    @if (isLoaded && currentUser) {

        <div class="usercard">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title-group>
                    <mat-card-title>{{currentUser.name}}</mat-card-title>
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    <img mat-card-sm-image src={{currentUser.avatar}} onerror="this.src = '../../assets/avatar.jpg'" />
                    <mat-card-subtitle class="user-items">username: {{currentUser.username}}</mat-card-subtitle>
                    <mat-card-subtitle class="user-items">email: {{currentUser.email}}</mat-card-subtitle>
                    <mat-card-subtitle class="user-items">phone numer: {{currentUser.phone}}</mat-card-subtitle>
                    <mat-card-subtitle class="user-items">website: <a href={{currentUser.website}}>{{currentUser.website}}</a></mat-card-subtitle>
                </mat-card-content>
            </mat-card>
            <mat-card class="usercard-allchannels">
                <mat-card-header>
                    <mat-card-title-group>
                    <mat-card-title>All Channels</mat-card-title>
                    </mat-card-title-group>
                </mat-card-header>
                <mat-list>
                    @for (channel of allChannels; track channel) {
                            <div class="allchannels-item">
                                <mat-icon class="icon" (click)="addNewChannel(channel.id)">add</mat-icon>
                                <mat-list-item role="listitem">{{channel.name}}</mat-list-item>
                            </div>
                    }
                </mat-list>
            </mat-card>
        </div>

        <div class="channelslist">
            <div class="channelslist-title">
                <mat-card-title class="title">Channels List</mat-card-title>
                <button mat-mini-fab (click)="createNewChannel()"><mat-icon class="icon">add</mat-icon></button>
            </div>

            <mat-accordion>
                @for (channel of userChannels; track channel) {
                    <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title> 
                            <span>{{channel.name}}</span>
                        </mat-panel-title>
                        <mat-panel-description class="channel-description">
                            @if (channel.creator === currentUser.id) {<mat-icon class="icon">event_seat</mat-icon>}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <app-chat [channelId]="channel.id"
                    [userId]="currentUser.id"></app-chat>
                </mat-expansion-panel>
                }
            </mat-accordion>
        </div>

    }
</section>
