section {
    display: grid;
    grid-template-columns: 25% auto;
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    max-width: 1200px;
}

.icon {
    margin: 5px;
}

.usercard {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 300px;

        
    .user-items {
        word-break: break-all;
    }

    .usercard-allchannels {
        overflow: auto;
    }

    .allchannels-item {
        display: flex;
        align-items: center;
    }

    .icon {
        cursor: pointer;
    }
}



.channelslist {
    .channelslist-title {
        display: flex;
        margin: 10px 0;

        .title{
            flex: 1;
        }
    }

    .channel-description {
        display: flex;
        justify-content: end;
    }
}

@media screen and (max-width: 800px) {
    section {
        grid-template-columns: 1fr;
    }

    .usercard {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px;
    }
}